<div class="row-fluid">
    <form class="form-horizontal" id="unlockForm" onsubmit="handleModalSubmit" role="form">
        <div class="form-group" style="">
            <div class="col-sm-3">
                <label for="identityName" class="control-label">Name</label>
            </div>
            <div class="col-sm-3">
                <input data-validate="required" autofocus required id="identityName" type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-sm-3">
                <input data-validate="required" required id="identityLastName" type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="col-sm-3">
                <a onclick="javascript:return false" style="display:none" class="btn btn-primary btn-xs logout-locked" id="notMeButton">Not you? Logout</a>
            </div>
        </div>
        <div class="form-group" style="">
            <div class="col-sm-3">
                <label for="emailInput" class="control-label">Email Address</label>
            </div>
            <div class="col-sm-7">
                <input data-validate="required,email" id="emailInput" type="email" class="form-control" placeholder="Email used to receive backups.">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="emailPasswordInput" class="control-label">Password</label>
            </div>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="emailPasswordInput" placeholder="Password used to encrypt account">
            </div>
        </div>
    </form>
</div>
<div id="subscribe">
<input type="checkbox" id="terms"> I agree of the <a href="javascript:terms()">&nbsp;Terms of use</a>
<br />
<input type="checkbox" checked="checked" id="subscribe">&nbsp;Subscribe to <a href="http://ribbit.me">Ribbit.me</a> Newsletter
</div>
