<form class="form-horizontal" role="form">

    <div class="form-group">
        <div class="col-sm-3">
            <label for="passwordExportInput" class="control-label">Password</label>
        </div>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="passwordExportModalInput" placeholder="Password used to encrypt account">
        </div>
    </div>
    <div class="form-group export-options">
        <div class="col-sm-offset-2 col-sm-10">
            <!--<button class="btn btn-default exportEncryptedData">Export Encrypted Text File</button>
            <button class="btn btn-default exportEncryptedQRData">
                <i class="glyphicon glyphicon-qrcode"></i>
                Export Encrypted QR Code
            </button>-->
            <button class="btn btn-default exportEncryptedData">
                <i class="glyphicon glyphicon-file"></i>
                To File
            </button>

            <button class="btn btn-default exportEncryptedDataModalToCloud">
                <i class="glyphicon glyphicon-cloud"></i>
                To Cloud
            </button>
            <button class="btn btn-default exportEncryptedQRData">
                <i class="glyphicon glyphicon-qrcode"></i>
                To QR Code
            </button>
        </div>
    </div>
</form>