<div class="row-fluid">
    <form class="form-horizontal" role="form">
        <div class="form-group" style="">
            <div class="col-sm-3">
                <label for="identityName" class="control-label">Name</label>
            </div>
            <div class="col-sm-3">
                <input data-validate="required" autofocus required id="identityName" type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-sm-3">
                <input data-validate="required" required id="identityLastName" type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="col-sm-3">
                <button onclick="javascript:return false" style="display:none" class="btn btn-primary btn-xs logout" id="notMeButton">Not you? Logout</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="encryptedAccount" class="control-label">Email Address</label>
            </div>
            <div class="col-sm-7">
                <input id="emailInput" type="text" class="form-control" placeholder="Email used to receive backups.">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="passwordInput" class="control-label">Password</label>
            </div>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="passwordInput" placeholder="Password used to encrypt account">
            </div>
        </div>
        <div class="form-group import-options">
            <div class="col-sm-offset-2 col-sm-10">
                <!-- <button onclick=" $('#encryptedAccount').click() " class="btn btn-default importEncryptedData">
                    <i class="glyphicon glyphicon-file"></i>
                    From File
                </button>-->
                <!--<button onclick="javascript:return false" class="btn btn-default importEncryptedDataCloud">
                    <i class="glyphicon glyphicon-cloud"></i>
                    From Cloud
                </button>-->
                <!--<button class="btn btn-default importEncryptedData">
                    <i class="glyphicon glyphicon-qrcode"></i>
                    From QR Code
                </button>-->
            </div>
        </div>
    </form>
</div>