

<div class="section animated fadeInUp">
    <div class="container animated fadeInUp">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="name-panel panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Step 1: Set up your Identity
                                    <!--<div class="pull-right">
                                        <a href="#" for="name-panel" class="skip-step btn btn-info btn-xs btn-info">Skip</a>
                                    </div>-->
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="section">
                                    <div class="container">
                                        <div class="row-fluid">
                                            <div class="col-md-2 hidden-xs span3"></div>
                                            <div class="col-md-6 span8">
                                                <div style="text-align: center" class="row-fluid">
                                                    <a class="onboard" for="profile" next="name-panel" href="#">
                                                        <img src="documentation\profile.png"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-2 hidden-xs span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="keys-panel panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Step 2: Manage Your Accounts
                                    <!--<div class="pull-right">
                                        <a href="#" for="keys-panel" class="btn btn-info btn-xs btn-info disabled">Skip</a>
                                    </div>-->
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="section">
                                    <div class="container">
                                        <div class="row-fluid">
                                            <div class="col-md-2 hidden-xs span3"></div>
                                            <div class="col-md-6 span8">
                                                <div style="text-align: center" class="row-fluid">
                                                    <!---->
                                                    <a class="onboard" for="keys" next="keys-panel" href="#">
                                                        <img src="documentation\keys.png"/>
                                                    </a>
                                                    <!---->
                                                </div>
                                            </div>
                                            <div class="col-md-2 hidden-xs span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="backup-panel panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Step 3: Configure Backup Settings
                                    <!--<div class="pull-right">
                                        <a href="#" for="backup-panel" class="skip-step btn btn-info btn-xs btn-info disabled">Skip</a>
                                    </div>-->
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="section">
                                    <div class="container">
                                        <div class="row-fluid">
                                            <div class="col-md-2 hidden-xs span3"></div>
                                            <div class="col-md-6 span8">
                                                <div style="text-align: center" class="row-fluid">
                                                    <!---->
                                                    <a class="onboard" for="backup" next="backup-panel" href="#">
                                                        <img src="documentation\backup.png"/>
                                                    </a>
                                                    <!---->
                                                </div>
                                            </div>
                                            <div class="col-md-2 hidden-xs span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="wallet-panel panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Step 4: Learn how to send and receive
                                    <!--<div class="pull-right">
                                        <a href="#" for="wallet-panel" class="skip-step btn btn-info btn-xs btn-info disabled">Skip</a>
                                    </div>-->
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="section">
                                    <div class="container">
                                        <div class="row-fluid">
                                            <div class="col-md-2 hidden-xs span3"></div>
                                            <div class="col-md-6 span8">
                                                <div style="text-align: center" class="row-fluid">
                                                    <!---->
                                                    <a class="onboard" for="wallet" next="wallet-panel" href="#">
                                                        <img src="documentation\wallet.png"/>
                                                    </a>
                                                    <!---->
                                                </div>
                                            </div>
                                            <div class="col-md-2 hidden-xs span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function complete() {
        multiStageHelp = {}
    }
</script>