<div class="container animated fadeInUp">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Thank you</h3>
                        </div>
                        <div class="panel-body">
                            <div class="section">
                                <div class="container-fluid">
                                    <div class="row">You have successfully confirmed your email</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>